<% @products.each do |product| %>
  <div>
    <%= product.name %> 
    <%= turbo_frame_tag dom_id(product) do%>
      <%= link_to 'add samples', new_product_sample_path(product)%>
      <%= link_to 'Edit' %>
      <button>Delete</button>
    <% end %>
  </div>
<% end %>